body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}

header {
    background-color: #810077;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
/* تنسيق الزر */
button {
  background-color: #4CAF50; /* اللون الأخضر */
  color: white; /* النص باللون الأبيض */
  border: none;
  padding: 10px 20px; /* مسافة داخلية */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; /* جعل الزوايا مستديرة */
}

/* عند المرور بالماوس فوق الزر */
button:hover {
  background-color: #45a049; /* تغيير اللون عندما يمر الماوس */
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  
  button {
    width: 100%;
  }
}
